@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Indiana Brace Company</h1>
    <p class="lead">IndianaBraceStore.com has been in business as an online retailer for over 18 years, 
        with over 50 years of orthotic service in Indiana at Indiana Brace, LLC. With experience and personal attention, 
        our company has established itself as one of the leading online medical sites.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">FaceMasks &raquo;</a>
       <a href="https://asp.net" class="btn btn-primary btn-lg">X1-Blades &raquo;</a>
       <a href="https://asp.net" class="btn btn-primary btn-lg">TKE &raquo;</a>
    </p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to IBC</h2>
        <p>
            Please call or text Clyde direct 317.445.1475 or email: clyde.peach@indianabrace.com for a consultation.

            Clyde Peach (ABC Certified Orthotist #1321)
            President, Indiana Brace Company
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Youtube Videos</h2>
        <p>Curious about FaceMask design, durability, and overall impressions? Check out our Youtube page! </p>
        <p><a class="btn btn-default" href="https://www.youtube.com/user/clydepeach">Watch Now! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Testimonials</h2>
        <p>See customer reviews of Indiana Brace products</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>