@{
    ViewBag.Title = "Home Page";
}
<br />
<br />
<div class="jumbotron" align="">
    <h1>Indiana Brace Company</h1>
</div>
<br />
<br />
<div class="row" align="center">
    <p>
        <a href="http://localhost:56166/FaceMask/Create?class=nav-link" class="btn btn-primary btn-lg">FaceMasks &raquo;</a>
        <a href="http://localhost:56166/X1Blade/Create?class=nav-link" class="btn btn-primary btn-lg">X1-Blades &raquo;</a>
        <a href="http://localhost:56166/TKE/Create?class=nav-link" class="btn btn-primary btn-lg">TKE &raquo;</a>
    </p>
</div>
<br />
<br />
<br />
<div class="jumbotron" align="center">
    
    <p class="lead">
        IndianaBraceStore.com has been in business as an online retailer for over 18 years,
        with over 50 years of orthotic service in Indiana at Indiana Brace, LLC. With experience and personal attention,
        our company has established itself as one of the leading online medical sites.
    </p>
</div>

<div class="row" align ="center">
    <div class="col-md-4">
        <h2>Welcome to IBC</h2>
        <p>
            Please call or text Clyde direct 317.445.1475 or email: clyde.peach@indianabrace.com for a consultation.

            Clyde Peach (ABC Certified Orthotist #1321)
            President, Indiana Brace Company
        </p>
        <p><a class="btn btn-default" href="http://indianabrace.com/about-us.aspx">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Youtube Videos</h2>
        <p>Curious about FaceMask design, durability, and overall impressions? Check out our Youtube page! </p>
        <p><a class="btn btn-default" href="https://www.youtube.com/user/clydepeach">Watch Now! &raquo;</a></p>
    </div>
</div>