@{
    ViewBag.Title = "Welcome!";
}
<br />


<!--begin Bootstrap Carousel-->

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
    <!-- Slide Indicators -->
    <ol class="carousel-indicators">

        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

        <li data-target="#myCarousel" data-slide-to="1"></li>

        <li data-target="#myCarousel" data-slide-to="2"></li>

    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a href="http://localhost:56166/FaceMask/Create?class=nav-link">

                <img src="~/Content/assets/images/FMFinal.jpg" alt="...">
            </a>
            <div class="carousel-caption">

                <h3>Face Masks</h3>

                <p>(Madrid Model)</p>

            </div>

        </div>
        <div class="item">
            <a href="http://localhost:56166/TKE/Create?class=nav-link">
                <img src="~/Content/assets/images/TKEFinal.jpg" alt="...">
            </a>
            <div class="carousel-caption">

                <h3>Terminal Knee Extender</h3>

                <p>TKE</p>

            </div>
        </div>
        <div class="item">
            <a href="http://localhost:56166/X1Blade/Create?class=nav-link">
                <img src="~/Content/assets/images/X1Final.jpg" alt="...">
            </a>
            <div class="carousel-caption">

                <h3>Clyde's Famous X1 Blades</h3>

                <p>Turf Toe, Bunion Pain, Plantar Fasciitis, etc. </p>
            </div>
        </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a> <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!--end carousel-->
</div>



<div class="jumbotron" align="center" id="jumbotronLead">

    <p class="lead">
        IndianaBraceStore.com has been in business as an online retailer for over 18 years,
        with over 50 years of orthotic service in Indiana at Indiana Brace, LLC. With experience and personal attention,
        our company has established itself as one of the leading online medical sites.
    </p>
</div>

<div class="row" align="center">
    <div class="col-md-4" id="youtube">
        <h2>Youtube Videos</h2>
        <p>Curious about FaceMask design, durability, and overall impressions? Check out our Youtube page! </p>
        <p><a class="btn btn-default" href="https://www.youtube.com/user/clydepeach">Watch Now! &raquo;</a></p>
    </div>
</div>

<!--latest jQuery 3-->

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>



<!--Bootstrap JS-->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>